output {
    if [fields][service] == "auth" {
        elasticsearch {
        hosts => ["http://localhost:9200"]
        index => "secure-%{+YYYY.MM.dd}"
        document_type => "%{[@metadata][type]}"
        }
    }
}
