output {
    if [fields][service] == "php" {
        elasticsearch {
        hosts => ["http://localhost:9200"]
        index => "php-%{+YYYY.MM.dd}"
        document_type => "%{[@metadata][type]}"
        }
    }
}

